.title {
    font-size: 6rem;
    font-family: "Proxima Nova Black", sans-serif;
    text-transform: uppercase;
    line-height: 1;
    padding: 2rem 0;
    background: linear-gradient(174.06deg, rgba(55, 23, 12, 0.98) 3.93%, #835741 14.83%, #46281B 22.55%, #755949 34.81%, #FAE2CC 47.07%, #56463F 57.97%, #150806 71.59%, #724F3C 80.67%, #020100 87.03%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-top: 5rem;
    @media screen and (max-width: 950px) {
        font-size: 4rem;
    }
}
.signText {
padding-bottom: 2rem;

.sign {
    color: #005834;
}}
.signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    max-width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background: #ffffff;
    color: #005834;
    margin: 5rem 2rem 2rem 2rem;
    transform-style: preserve-3d;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.05),
        4px 4px 10px rgba(224, 224, 224, 0.5);

    .group {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;

        .label {
            text-align: center;
            margin-right: 1rem;
            margin-bottom: 1rem;
            padding-top: 0.4rem;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            border: 1px solid transparent;
            background: #ffffff;
            box-shadow: inset 3px 3px 6px #bebebe,
                inset -3px -3px 6px #777477;

            i {
                font-size: 10px;
                margin-top: 0.7rem;
                color: white;
                text-shadow: 0 0 20px rgb(100, 138, 219),
                    0 0 305px rgb(100, 138, 219);
            }
        }

        textarea {
            height: 5rem;
        }
    }
}

.pass,
.input {
    font-size: 17px;
    letter-spacing: 1px;
    background-color: #ffffff !important;
    border: none;
    margin-bottom: 1rem;
    outline: none;
    align-items: center;
    color: #005834;
    position: relative;
    width: 90%;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

.input, .input[type="text" i] {
    width: 90%;
    height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.4s easy;
    background: #252525;
    border: 1px solid transparent;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.192),
        3px 3px 5px rgba(105, 105, 105, 0.5),
        inset -3px -3px 5px rgba(255, 255, 255, 0.199),
        inset 3px 3px 5px rgba(99, 99, 99, 0.5);
}
.input input[type="password" i] {
    margin-bottom: 1rem;
} 
.checkgroup {
    padding: 1rem 0;
    font-size: 17px;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

    input {
        appearance: none;
    }

    label {
        width: 90%;
    }

    .label {
        position: relative;
        margin-right: 2rem;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        border: 1px solid transparent;
        box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.13),
            2px 2px 3px rgba(70, 70, 70, 0.5),
            -2px -2px 3px rgba(255, 255, 255, 0.247),
            2px 2px 3px rgba(88, 88, 88, 0.5);

        img {
            position: absolute;
            padding-right: 0.7rem;
            padding-top: 0.6rem;
        }
    }
}

.signupButton {
    width: 70%;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: #005834;
    background: #ffffff;
    margin: 20px auto;
    box-shadow: 3px 3px 5px rgba(110, 110, 110, 0.5),
    -3px -3px 5px rgba(255, 255, 255, 0.151);
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #ffffff;
    transition: all 0.3s;
    transition-delay: 0.1s;
    position: relative;

    &:disabled {
        opacity: 1;
        background: transparent;
        box-shadow:
        inset 3px 3px 5px rgba(97, 97, 97, 0.5),
            inset -3px -3px 5px rgba(255, 255, 255, 0.164);
        color: #005834;
        cursor: not-allowed;
    }

    &:active {
        box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.05),
            inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    }

    &:hover::before {
        background-color: #fff;
        transform: translate(115%, -50px) rotate(90deg);
    }
}