.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background: #f8f8f8;
padding: 3em 0;
  :global(.slick-dots) {
    bottom: 2px;

    :global(li) {
      margin: 0;
    }
  }

  .container {
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    .sliderWrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding-bottom: 70px;

      .sliderItemWrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        box-shadow: -4.54px 8.91px 35px 0px rgba(23, 23, 23, 0.25);
        width: 237px;
        height: 237px;
        margin: 40px auto;
        padding: 10px;
        background: linear-gradient(45deg, #ffffff, #e6e6e6);
        box-shadow: 8px -8px 26px #d6d6d6,
          -8px 8px 26px #ffffff;
        border-radius: 6px;

        @media (max-width: 1000px) {
          margin-left: 20px;
        }

        .imageWrapper {
          object-fit: contain;
          margin-bottom: 5px;
          margin-top: -35px;
        }

        .index {
          position: absolute;
          top: 10px;
          left: 20px;
          font-family: "Proxima Nova Black", sans-serif;
          font-size: 40px;
          color: #effff4;
        }

        .btn {
          position: absolute;
          font-family: "Proxima Nova Regular", sans-serif;
          left: 50%;
          width: 80%;
          bottom: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #3fc700;
          height: 50px;
          border-radius: 10px;
          transition: background 0.25s ease-in-out;
          outline: none;
          background: #c9c9c9,
            inset -8px -8px 15px #d8d8d8;
          border: 2px solid transparent;
          box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.25),
            3px 3px 5px rgba(90, 90, 90, 0.5),
            inset -3px -3px 5px rgba(255, 255, 255, 0.25),
            inset 3px 3px 5px rgba(83, 83, 83, 0.5);
          transform: translateX(-50%);

          &:hover {
            background: #f6fffe;
          }
        }

        p {
          font-family: "Helvetica Neue Roman", sans-serif;
          line-height: 1.4;
          color: #919191;
          text-align: center;
        }
      }

      @media (max-width: 550px) {
        padding-bottom: 0;
      }
    }
  }
}