.main {
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.grid {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    text-align: left;
    color: inherit;
    max-width: 400px;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 30px;
    transition: color 0.15s ease, border-color 0.15s ease;
    background: #fafafa;
    color: #1a1a1a;
    border: 1px solid #e0e0e0;
    box-shadow: -6px -6px 10px rgba(223, 223, 223, 0.089),
        6px 6px 10px rgba(240, 240, 240, 0.5);

    h2,
    h3,
    p {
        padding: 1rem 1.5rem;
    }

    img {
        border-radius: 30px;
        max-width: 400px;
        box-shadow:
            inset -3px -3px 5px rgba(255, 255, 255, 0.05),
            inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    }
}

.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}